* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

p {
    color: #4f6166;
}

#h1-centering {
    text-align: center;
}

h1,h2,h3 {
    color: #275e9c;
}

h3 {
    font-size: 15px;
}

header {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a4d3f7;
    border-radius: 12px;
    flex-wrap: wrap;
    gap: 15px;
}

#header-exit {
    padding: 6px 14px;
    border: 1px solid #a4d3f7;
    border-radius: 10px;
    background-color: white;
    transition: background-color 0.4s ease;
}

#id-pontos {
    padding: 6px 14px;
    border: 1px solid #a4d3f7;
    border-radius: 10px;
    background-color: #a4d3f7;
}

#header-exit:hover {
    background-color: #a4d3f7;
}

.div-bem-vindo {
    display: flex;
    align-items: center;
    gap: 12px;

}

#bem-vindo {
    margin-right: -6px;
}

.nome-boas-vindas {
    margin: 0px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img-logo {
    min-width: 280px;
    width: 40%;
    padding: 20px;
}

#paragraph-section{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

main {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;           
    align-items: stretch;    /* Forca ter a altura do maior */
}

.botao-visual {
    padding: 5px 35px;
    border: 1px solid #a4d3f7;
    border-radius: 15px;
    color: #275e9c;
    margin-top: auto; /* Para deixar estatico bem no final do card*/
}

.botao-visual:hover {
    background-color: #a4d3f7;
}

a {
    text-decoration: none;
}

.card-acao {
    border: 1px solid #a4d3f7;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cards-h2 {
    padding-top: 12px;
    padding-left: 22px;
    padding-right: 22px;
}

.main-cards-p {
    padding-top: 12px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 12px;
}

.card-acao a {
    margin-top: auto;
    padding-top: 10px;
}

article {
    margin: 30px;
    border: 1px solid #a4d3f7;
    border-radius: 20px;
}

#how-work {
    gap: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

#h2-how-work {
    padding: 18px;
}