<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/cadastrologin.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet" rel="stylesheet">
</head>
<body>

    <div class="login-container">
    <div class="logo">
    <img src="../../public/images/LOGOPAPHD.png" alt="logo">
    </div>

        <h1>Bem-vindo!</h1>
        <p class="subtitle">Quiz de Regimentos Ponto a Ponto</p>

        <div class="card">
            <form>
                <label>Nome de Usuário</label>
                <div class="input-group">
                    <span></span>
                    <input type="text" placeholder="Digite seu nome de usuário">
                </div>

                <label>Senha</label>
                <div class="input-group">
                    <span></span>
                    <input type="password" placeholder="Digite sua senha">
                </div>

                <button class="btn-primary">Entrar</button>

                <div class="divider"></div>

                <p class="small-text">Ainda não tem uma conta?</p>

                <button class="btn-secondary">Cadastrar-se</button>
            </form>
        </div>

        <p class="footer-text">
            Acumule pontos e troque por recompensas na loja! 
        </p>

    </div>
    <body>
  <div class="page">
    
      
    </div>

  </div>
</body>


</body>
</html>
