<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/stylehomepageusr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class = "div-bem-vindo">
            <p id="bem-vindo">Bem-Vindo(a),</p> <!-- Mostra o nome do usuario, e a foto dele-->
            <p id="nome-greetins" class="nome=boas-vindas"></p>
        </div>
        <div class = "div-bem-vindo">
            <p id="id-pontos"></p> <!-- Deve mostrar a qntd. de pontos que o usuario tem -->
            <button id="header-exit">Sair</button>
        </div>
    </header>

    <section>
        <img id="img-logo" src="/images/LOGOPAPHD.png" alt="logo-pap">
        <h1 id="h1-centering">Quiz Sobre o Regimento Ponto a Ponto</h1>
        <p id="paragraph-section">Teste seus conhecimentos sobre as normas, políticas e <br>
            procedimentos da empresa</p>
    </section>

    <main>
        <a href=" " class="card-acao">
            <h2 class="main-cards-h2">Jogar Agora</h2>
            <p class="main-cards-p">Escolha seu nivel <br> e comece a testar seus <br>conhecimentos.</p>
            <span class="botao-visual">Começar Quiz</span>
        </a>
        <a href=" " class="card-acao">
            <h2 class="main-cards-h2" >Ranking</h2>
            <p class="main-cards-p">Veja os melhores <br> jogadores e suas <br>pontuacoes.</p>
            <span class="botao-visual">Ver Ranking</span>
        </a>
        <a href=" " class="card-acao">
            <h2 class="main-cards-h2">Loja</h2>
            <p class="main-cards-p">Compre reconpensas <br>com seus pontos.</p>
            <span class="botao-visual">Ver Loja</span>
        </a>
    </main>

    <article id="article-how">
        <h2 id="h2-how-work">Como funciona</h2>
        
        <div id="how-work">
            <div>
            <h3>Modo Iniciante</h3>
            <p class="p-how">5 perguntas básicas com 30 segundos cada. <br> Ideal para iniciantes.</p>
            </div>

            <div>
            <h3>Modo Amador</h3>
            <p class="p-how">8 perguntas intermediárias com 25 segundos. <br> Para quem já conhece a empresa.</p>
            </div>

            <div>
            <h3>Modo Pro</h3>
            <p class="p-how">10 perguntas avançadas com 20 segundos. <br> Desafio máximo!</p>
            </div>
        
        </div>
        
        </article>
        <script src="/js/home.js"></script>
</body>
</html>