<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="css/style-perguntas.css">
</head>
<body>
    <header>
        <img id="header-logo" src="/images/LOGOPAPHD.png" alt="Logo">
        <div id="right-side">
            <p id="header-username">Jogador</p>
            <p id="header-points">Pontos: 0</p>
        </div>
    </header>

    <main>
        <div id="quiz-card">
            <div id="title-specifications">
                <span id="quiz-cont-ask">Questão 1/5</span>
                <span id="quiz-time">Tempo</span>
            </div>

            <h1 id="main-question">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h1>

            <div id="alternatives-container">
                <button class="main-alternative">Alt1</button>
                <button class="main-alternative">Alt2</button>
                <button class="main-alternative">Alt3</button>
                <button class="main-alternative">Alt4</button>
            </div>
        </div>
        
        <p id="back-button">← Sair do Quiz</p>
    </main>
</body>
</html>